html{
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Cambay', sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
    text-align: center;
    background-color: #9cddd0;
    color: white;
}

header {
  padding: 60px 0;
  background-size: cover;
}

header>img {
    margin: auto;
    width: 500px;
}

header {
    padding-top: 0;
}

nav {
    margin-bottom: 60px;
    padding: 20px;
    text-align: left;
    background-color: #ffffff;
    position: relative;
}

#logo {
    width: 200px;
}

h1 {
  color:rgb(255, 162, 80);
}

#nav {
    margin: 0 0 0 150px;
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    font-size: large;
}

#nav > ul {
    margin: 0 10px;
    padding: 20;
    display: inline-block;
    text-align: center;
    font-size: large;
}

#nav > a {
    color: black;
    font-family: "Praise", cursive;
    font-size: 2rem;
    padding: 20px 25px;
}

.praise-regular {
  font-family: "Praise", cursive;
  font-weight: 400;
  font-style: normal;
}
