html{
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Cambay', sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
    text-align: center;
    background-color: #cfeee8;
    color: white;
}

a:hover {
  color: white;
  background-color: #DD9CA9;
}

nav > ul {
  padding-bottom: 30px;
}

ul > a {
  font-size: large;
}

header > h1{
  background-image: url(images/skyline-sea.jpg);
  height: 300px;
  margin: 0px;
  text-align: center;
}


header {
    padding-top: 0;
}

nav {
    padding: 20px;
    text-align: left;
    position: relative;
}

#logo {
    width: 150px;
}

h1 {
  color: white;
  font-family: "Praise", cursive;
}

#nav {
    display: inline-block;
    list-style-type: none;
}

#nav > ul {
    margin: 0 10px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    font-size: large;
}

#nav > a {
    color: black;
    font-family: "Praise", cursive;
    font-size: 2rem;
    padding: 20px 25px;
}

div {
  display: inline-block;
  padding: 30px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 40px;
  border-radius: 50%;
}

#kerrypark {
  background-image: url(images/kerry-park.jpg);
}

#gasworks {
  background-image: url(images/gas-works-park.jpg.webp);
}

#fremont {
  background-image: url(images/FremontTroll.jpg);
}

#pikeplace {
  background-image: url(images/pikeplacemarket.jpg);
}

.praise-regular {
  font-family: "Praise", cursive;
  font-weight: 400;
  font-style: normal;
}
