html{
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Cambay', sans-serif;
    font-size: 1.15rem;
    line-height: 1.5;
    text-align: center;
    background: #a4d0e5;
    color: white;
}

nav > ul {
  padding-bottom: 30px;
}

ul > a {
  font-size: large;
}

.hero > h1 {
  margin: 0px;
  text-align: center;
  font-size: 7em;
  text-shadow: 20px 20px 30px black;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/skyline-sea.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 300px;
}


header {
    padding-top: 0;
    background: linear-gradient(90deg, rgba(112, 168, 194, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

nav {
    padding: 20px;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a:hover {
  color: white;
  background-color: #DD9CA9;
}

#logo {
    width: 150px;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Praise", cursive;
}

h2 {
  color:black;
  font-size: 3em;
  font-family: "Praise", cursive;
}

.text {
  background-color: black;
}


#nav {
    margin: 0 10px;
    padding: 20px;
    list-style-type: none;
    text-align: center;
    font-size: large;
}

#nav > li {
    display: inline-block;
}

#nav  a {
    color: black;
    font-family: "Praise", cursive;
    font-size: 2rem;
    padding: 20px 25px;
}

.circle {
  display: inline-block;
  padding: 70px;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 40px;
  border-radius: 50%;
}

#kerrypark {
  background-image: url(images/kerry-park.jpg);
}

#gasworks {
  background-image: url(images/gas-works-park.jpg.webp);
}

#fremont {
  background-image: url(images/FremontTroll.jpg);
}

#pikeplace {
  background-image: url(images/pikeplacemarket.jpg);
}

#carpenter {
  background-image: url(images/The-Walrus.jpg);
}

#chowder {
  background-image: url(images/chowder.png);
}

#archipelago {
  background-image: url(images/archipelago.jpg);
}

#hunter {
  background-image: url(images/hart-hunter.jpg);
}

#zoo {
  background-image: url(images/zoo.jpg);
}

#aquariam {
  background-image: url(images/aqua.jpeg);
}

#space {
  background-image: url(images/space-needle.jpg);
}

#wheel {
  background-image: url(images/Seattle+Great+Wheel.jpg);
}

#candles {
  background-image: url(images/candles.jpg);
}

#cinema {
  background-image: url(images/movie.jpg);
}

#cruise {
  background-image: url(images/dinner-cruise.jpg);
}

#paint {
  background-image: url(images/ceramic.jpg);
}

main > h1 {
  font-size: 3em;
}

.button {
  background-color: white;
}

.praise-regular {
  font-family: "Praise", cursive;
  font-weight: 400;
  font-style: normal;
}

.bottom > p {
  color: black;
}

.bottom > h1 {
  color: black;
}

footer {
  color:black;
}

#moretext {
  color: black;
}